@import "tailwindcss";

@source "../app/";
@source "../blog/";
@source "../docs/";

:root {
  --background: #eeeeee;
  --foreground: #282828;
  --nav: #661527;
  --nav-dropdown: #851b32;
  --nav-hover: #ccb1b7;
  --nav-current: #ab858d;
  --date: #4a5565;
  --link: #2b7fff;
  --link-hover: #1447e6;
  --sidebar-hover: #941f38;
  --code-bg: #282c34;
}

@theme inline {
  --color-gray-200: #e0e2e6;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nav: var(--nav);
  --color-nav-dropdown: var(--nav-dropdown);
  --color-nav-hover: var(--nav-hover);
  --color-nav-current: var(--nav-current);
  --color-date: var(--date);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
  --color-sidebar-hover: var(--sidebar-hover);
  --color-code-bg: var(--code-bg);
}

@keyframes open {
  from {
    max-height: 0px;
  }
  to {
    max-height: 100px;
  }
}

@keyframes close {
  from {
    max-height: 100px;
  }
  to {
    max-height: 0px;
  }
}

.content[data-state="open"] {
  animation: open ease-out 300ms;
}
.content[data-state="closed"] {
  animation: close ease-out 300ms;
}

/*This has be in css because of mobile*/
.trigger:hover {
  @apply text-nav-hover;
}

.AccordionContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-wdith: none;
  -ms-overflow-style: none;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

/*timer animation*/
.fall-anim {
  animation: digit-fall 0.8s ease-in forwards;
}

@keyframes digit-fall {
  0% {
  }
  100% {
    transform: translate(16px, 70px) rotate(-30deg);
  }
}
