@import "tailwindcss";

@source "../app/";
@source "../blog/";
@source "../docs/";

:root {
  --background: #eeeeee;
  --foreground: #282828;
  --nav: #661527;
  --nav-dropdown: #851b32;
  --nav-hover: #ccb1b7;
  --nav-current: #ab858d;
  --date: #4a5565;
  --link: #2b7fff;
  --link-hover: #1447e6;
  --sidebar-hover: #941f38;
  --code-bg: #282c34;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nav: var(--nav);
  --color-nav-dropdown: var(--nav-dropdown);
  --color-nav-hover: var(--nav-hover);
  --color-nav-current: var(--nav-current);
  --color-date: var(--date);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
  --color-sidebar-hover: var(--sidebar-hover);
  --color-code-bg: var(--code-bg);
}

@keyframes open {
  from {
    max-height: 0px;
  }
  to {
    max-height: 100px;
  }
}

@keyframes close {
  from {
    max-height: 100px;
  }
  to {
    max-height: 0px;
  }
}

.content[data-state="open"] {
  animation: open ease-in-out 400ms;
}
.content[data-state="closed"] {
  animation: close ease-in-out 400ms;
}

/*This has be in css because of mobile*/
.trigger:hover {
  @apply text-nav-hover;
}

@keyframes slideFadeDown {
  from {
    opacity: 0;
    transform: translateY(-4px);
    max-height: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    max-height: 1000px;
  }
}

@keyframes slideFadeUp {
  from {
    opacity: 1;
    transform: translateY(0);
    max-height: 1000px;
  }
  to {
    opacity: 0;
    transform: translateY(-4px);
    max-height: 0;
  }
}

@layer utilities {
  .animate-slideFadeDown {
    animation: slideFadeDown 0.3s ease-out forwards;
  }
  .animate-slideFadeUp {
    animation: slideFadeUp 0.25s ease-in forwards;
  }
}