@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #750e25;
  --nav-dropdown: #8c112c;
  --nav-hover: #ccb1b7;
  --nav-current: #ab858d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nav-dropdown: var(--nav-dropdown);
  --color-nav-hover: var(--nav-hover);
  --color-nav-current: var(--nav-current);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes open {
  from { max-height: 0px; }
  to { max-height: 100px; }
}

@keyframes close {
  from { max-height: 100px; }
  to { max-height: 0px; }
}

.content[data-state="open"] {
  animation: open ease-in-out 400ms;
}
.content[data-state="closed"] {
  animation: close ease-in-out 400ms;
}

/*This has be in css because of mobile*/
.trigger:hover {
  color: var(--nav-hover);
}
